.hero-section {
  background-size: cover;
  background-position: center;
  color: white;
  background: linear-gradient(
      to right,
      rgba(0, 98, 185, 0.8),
      rgba(0, 98, 185, 0.8)
    ),
    url("https://dopefolio.netlify.app/assets/svg/common-bg.svg");
  height: 100vh;
  min-height: 50rem;
  max-height: 100rem;
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.section-title {
  margin-bottom: 40px;
  font-weight: bold;
}

#projects .card-img-top {
  height: 200px;
  object-fit: cover;
}

.btn {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.profile {
  height: 70px;
  border-radius: 50%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;

}

.nav {
    padding: 1.2rem 1rem;
    display: inline-block;
    font-size: 1rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: transform 0.3s;
}


.home-hero__socials {
    position: absolute;
    top: 50%;
    border: 2px solid #eee;
    border-left: 2px solid #eee;
    margin-left: 4px;
    transform: translateY(-50%);
}

.home-hero__social {
    width: 8rem;
}

.home-hero__social-icon-link {
    width: 100%;
    display: block;
    padding: 0.25rem;
    border-bottom: 2px solid #eee;
    transition: background .3s;
}

.social{
    display: flex;
    justify-content: center;

}

.social_1{
    height: 40px;
    margin: 20px;
 

    
}

.contact{
    width: 50%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;

}

.about{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
}

.card{

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  gap: 2px;
  

}

.skill{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.skill_1{
  height: 80px;
  
}

.skill_2, .skill_3,.skill_4{
  height: 50px;
 margin: 10px;

}